.main {
  height: 100vh;
  background: #200E06;
}

.content-container {
  position: fixed;
  top: 0px;
  bottom: 0;
  right: 0;
  left: 215px;
  overflow-x: hidden;
}

.content {
  width: 100%;
  margin-top: 30px;
  border-left: 2px solid rgba(215, 130, 93, 0.2);
  background: linear-gradient(180deg, rgba(24, 14, 9, 0) 48.96%, #190E09 100%), url("./images/img1.png") no-repeat;
}

.img1 {
  height: 1063px;
  margin-top: -30px;
  margin-left: -215px;
}
